/* Eléments principaux de la page */



#bloc_page
{
	max-width: 1400px;
	font-family: 'Raleway', sans-serif;
	width: 100%;
}

h1
{
	font-size: 23px;
}

h2
{
	font-size: 18px;
}

h3
{
	font-size: 16px;
}

p
{
	font-size: 16px;
	margin-bottom: 15px;
}



a:link, a:visited {
	text-decoration: none;
	color: black;
}

header
{
	display: flex;
	width: 95%;
	justify-content: space-between;
}

/* Menu */

nav {
	width: 30%;
}

nav ul
{
	list-style-type: none;
	display: flex;
	padding-left: 0px;
}

nav li
{
	margin-right: 55px;
}

nav a
{
	color: #000000;
	padding-bottom: 3px;
	text-decoration: none;
}

nav a:hover
{
	color: #5095fd;
	border-top: 3px solid #0065fc;
}

#inscrire
{
	font-weight: bold;
	color: #0065fc;
}

#inscrire a:link, #inscrire a:visited
{
	color: #0065fc;
}

/* Première section */

#content_recherche
{
	display: flex;
	flex-direction: row;
}

#icone_position_map
{
	width: 40px;
	background-color: #f2f2f2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.fa-map-marker-alt
{
	padding: 12px 0px 0px 14px; /* La propriété padding est ici utilisée pour centrer l'icône map dans la zone grise */
}

#ville /* Personnalisation de l'input text */
{
	height: 36px;
	font-weight: bold;
	padding-left: 10px;
	width: 165px;
	border-top: 1px;
	border-color: #f2f2f2;
	border-top-style: solid;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: none;
	font-size: 16px;
}

#envoyer /* Personnalisation de l'input submit */
{
	background-color: #0065fc;
	color: #ffffff;
	border-style: none;
	border-radius: 0px 10px 10px 0px;
	height: 40px;
	font-size: 16px;
}

#submit_mobile
{
	display: none;
}

#content_filtre
{
	display: flex;
	flex-direction: row;
	font-weight: bold;
	margin-top: 20px;
	width : 60%;
}

#filtres_title /* Positionnement du mot filtre */
{
	margin-right: 20px;
}

.content_filtre /* Classe pour tous les blocks de filtres */
{
	height: 46px;
	width: 208px;
	border : solid 2px #d9d9d9;
	border-left : none;
	border-radius: 25px;
	padding: 0;
	margin : 6px 12px;
	font-weight: 700;
	flex-direction: row;
	align-items: center;
	display: flex;
	white-space: nowrap;
}

.content_filtre:hover
{
	background-color: red;
	cursor: pointer;
	color: yellow;
}

.circle /* Cercle autour des icônes de filtre */
{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: #deebff;
}

.positioning1 /* Centrage dans le cercle des icônes étant plus larges que hautes */
{
	padding: 18px 0px 0px 17px;
}

.positioning2 /* Centrage dans le cercle des îcones ayant une largeur et une hauteur égale */
{
	padding: 19px 0px 0px 18px;
}

.filtres /* Classe positionnant les titres des filtres */
{
	padding-right: 8px;
	padding-left: 8px;
	height: 14px;
}

#info
{
	display: flex;
	margin-top: 20px;
}

.fa-info /* Cerclage de l'icône info */
{
	padding: 8px 10px 8px 10px;
	border-radius: 25px 25px 25px 25px;
	border: 1px solid #d9d9d9;
	position: absolute;
	top: 308px;
}

#disponibilite /* Positionnement du texte à côté de l'icône */
{
	margin-left: 40px;
}

/* Section Hébergement et Les plus populaires */
#second
{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
}

#afficher_plus--mobile{
	display: none;
}

#hebergement /* Taille et positionnement de la partie hébergement */
{
	width: 63%;
	background-color: #f2f2f2;
	border-radius: 10px 10px 0px 0px;
	display: flex;
	flex-wrap: wrap;
}

#titre_hebergement /* Positionnement du titre afin que les encarts soient passées en-dessous */
{
	margin-bottom: -35px;
	margin-left: 30px;
}

a:hover
{
	cursor: pointer;
	color: #0065fc;
}

.hebergement1 /* Classe des encarts d'hôtels */
{
	width: 27%;
	height: 205px;
	background-color: #ffffff;
	border-radius: 10px;
	border-width: 5px;
	border-color: #ffffff;
	margin: 0px 5px 5px 22px;
	box-shadow: 1px 1px 8px #e3e3e3;
}

.hebergement1 img /* Positionnement des images dans les encarts */
{
	width: 95%;
	max-height: 116px;
	object-fit: cover;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin: 5px 5px 0px 5px;
}

.hebergement1 h3
{
	margin: 0px 0px 0px 12px;
}

.hebergement1 p
{
	margin: 10px 0px 0px 12px;
}

#afficher_plus--desktop
{
	width : 60.6%;
	background-color: #f2f2f2;
	border-radius: 0px 0px 10px 10px;
	padding-left: 30px;
}

em /* La propriété a été utilisé ici afin de ciblé les mots à mettre en gras */
{
	font-weight: bold;
	font-style: normal;
}

.blue /* Classe des étoiles bleues */
{
	color: #0065fc;
}

.grey /* Classe des étoiles grises */
{
	color: #d9d9d9;
}

#populaire /* Taille et positionnement de la partie populaire */
{
	width: 33%;
	background-color: #f2f2f2;
	border-radius: 10px;
}

#content_titre_populaire
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

#titre_populaire
{
	margin-bottom: 5px;
	padding-left: 30px;
}

#graphique
{
	padding-right: 30px;
	align-self: center;
}

.hebergement2 /* Class des encarts d'hôtels */
{
	width: 90%;
	height: 118px;
	background-color: #ffffff;
	border-radius: 10px;
	margin: 0px 15px 45px 15px;
	padding: 5px 5px 0px 5px;
	box-shadow: 1px 1px 8px #e3e3e3;
}

.hebergement2 img /* Class du positionnement des images dans les encarts */
{
	width: 45%;
	max-height: 113px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	float: left;
	margin-right: 10px;
}

.text /* Positionnement du texte dans les encarts */
{
	display: flex;
	flex-direction: column;
	margin-left: 196px;
}

.hebergement2 h3
{
	margin: 10px 0px 0px 196px;
}

.hebergement2 p
{
	margin: 5px 0px 14px 0px;
}

/* Section activités */
#titre_activites
{
	margin-left: 30px;
}

#activites
{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

#activites h3
{
	margin-left: 20px;
}

.grande /* Classe des grands encarts d'activité */
{
	width: 22%;
	border-radius: 10px;
	box-shadow: 1px 1px 8px #dfe5e8;
}

.grande img /* Positionnement des images dans les encarts */
{
	width: 100%;
	height: 100%;
	max-height: 484px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.petite /* Classe des petites images dans les encarts */
{
	width: 100%;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 1px 1px 8px #dfe5e8;
}

.petite img

{
	width: 100%;
	max-height: 180px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.grande:hover, .petite:hover
{
	cursor: pointer;
	color: #0065fc;
}

.colonne /* Positionnement de l'ensemble de deux petits encarts par rapport aux grands encarts */
{
	width: 22%;
	height: 540px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#footer
{
	width: 100%;
	background-color: #f2f2f2;
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
}

#footer p
{
	line-height: 2;
}