#bloc_page /* Taille auto */
{
	width: auto;
}

nav
{
	width: 50%;
}

#content_filtre{
	position: relative;
	padding-top: 30px;
}

#filtres_title
{
	margin-right: 0px;
	position: absolute;
	top: -10px;
}

#info
{
	display: flex;
	flex-direction: row;
	margin-top: 15px;
}

.fa-info
{
	top: 335px;
}

#second
{
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

#hebergement{
	justify-content: space-around;
}

#titre_hebergement
{
	margin-bottom: 0px;
}

.hebergement1 /* Classe des encarts d'hôtels */
{
	width: 44%;
	height: 180px;
	background-color: #ffffff;
	border-radius: 10px;
	border-width: 5px;
	border-color: #ffffff;
}

.hebergement1 img /* Positionnement des images dans les encarts */
{
	width: 95%;
	max-height: 80px;
	object-fit: cover;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin: 5px 5px 0px 5px;
}

.hebergement1 h3
{
	margin: 13px 0px 0px 12px;
	font-size: 15px;
}

.hebergement p
{
	font-size: 15px;
}

#afficher_plus--desktop{
	width: 59%;
}

#titre_populaire
{
	margin-bottom: 5px;
	padding-left: 25px;
}

#graphique
{
	padding-right: 25px;
	align-self: center;
}

.hebergement2 /* Classe des encarts d'hôtels */
{
	width: 90%;
	height: 113px;
	background-color: #ffffff;
	border-radius: 10px;
	border-width: 5px;
	margin: 0px 10px 40px 10px;
	padding: 3px 3px 0px 3px;
}

.hebergement2 img /* Classe du positionnement des images dans les encarts */
{
	width: 38%;
	max-height: 60px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	float: left;
	margin-right: 5px;
}

.hebergement2 h3
{
	margin: 10px 0px 20px 90px;
	font-size: 15px;
}

.text
{
	margin-left: 5px;
}

.hebergement2 p
{
	margin: 5px 0px -5px 0px;
	font-size: 15px;
}

#activites
{
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}

.grande img
{
	width: 100%;
	height: 100%;
	max-height: 460px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.petite img
{
	width: 100%;
	max-height: 175px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.colonne /* Positionnement de l'ensemble de deux petits encarts par rapport aux grands encarts */
{
	width: 22%;
	height: 520px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#activites h3
{
	margin-left: 10px;
	font-size: 15px;
}

#footer
{
	width: 100%;
	background-color: #f2f2f2;
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
}